<html>
    <head>
<link rel="stylesheet" href="/static/design.css">
    </head>
    <body>
        <div id="service">
            <div class="box">
              <img src="/static/form.jpg"alt= "color_image">
              <br>
               
              <p class="center">
                 <a href="{{url_for('feed')}}">form</a> <br>
                 People can fill up the form and send us the problem
              </p>

          </div>
          <div class="box">
            <img src="/static/mail.png"alt= "color_image">
            <br>
            <p class="center">
                Sumup@gmail.com</p>    
                <br>        
                <p class="center">
                Use this Email to send us about the problem faced
            </p>

        </div>
        <div class="box">
            <img src="/static/call.jpg" alt= "color_image">
            <br>
            <p class="center">
                Toll Free Number:+1800 200 300 400
            </p>

        </div>
    </div>
</section>


<footer class="background">
  
    <p class="text-footer">
      &copy; 2023 SumUp. All rights reserved.
  </p>
  
  </footer>
</div>
    </body>
</html>