<html>
    <head>
    <meta charset="UTF-8" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="stylesheet" href="/static/design.css">
      <title>text summarizer</title>
      <!--script>
        function myFunction() {
          window.location.href="main.html";  
        }
      </script-->

   
    </head>
    <body>
      
      
      <div class="a">
      <nav class="navbar">
        <div class="logo">
          <a href="{{url_for('home')}}">
          <img src="/static/open.jpg" height=50px width=70px alt=logo/>
          </a>
          SuMuP</div>
        <ul class="nav-links">
          <div class="menu">
          <li><a href="{{url_for('home')}}">HOME</a></li>
          <li><a href="{{url_for('feed')}}">FEEDBACK</a></li>
          <li><a href="{{url_for('contact')}}">CONTACT US</a></li>
        </ul>
      </nav>
  
      
            <div class="x">
              <h1 style="font-size:50px">Welcome to our Summarizer</h1>
              <h2>Valuing your time always</h2>
              <h3>upload content and relax</h3>
              <a href="{{url_for('main')}}">
              <button  class="b" >Let's go</button>
              </a>
            </div>
           
            
            </div>
            
            
        
          <div id="service">
            <div class="box">
              <img src="/static/form.jpg"alt= "color_image">
              <br>
               
              <p class="center">
                 <a href="{{url_for('feed')}}">form</a> <br>
                 People can fill up the form and send us the problem
              </p>

          </div>
          <div class="box">
            <img src="/static/mail.png"alt= "color_image">
            <br>
            <p class="center">
                Sumup@gmail.com</p>    
                <br>        
                <p class="center">
                Use this Email to send us about the problem faced
            </p>

        </div>
        <div class="box">
            <img src="/static/call.jpg" alt= "color_image">
            <br>
            <p class="center">
                Toll Free Number:+1800 200 300 400
            </p>

        </div>
    </div>
</section>


<footer class="background">
  
  <p class="text-footer">
    &copy; 2023 SumUp. All rights reserved.
</p>

</footer>
</div>

    </body>
</html>
